@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  @apply flex items-center justify-center h-screen bg-gradient-to-t from-[#2dd4bf] via-[#22c55e] to-[#16a34a] ;
}